body{
    margin: 0 !important;
}

/* Dropdown menu */

div.nav-dropdown{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    z-index: 99999;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* End Dropdown menu */

/* Begin hello page */
div.landing-page {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/images/bg-home.jpg")
}

div.landing-page #form-submit {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

div.landing-page #form-submit:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

div.landing-page #form-submit button:hover{
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6) !important;
    
}
/* End hello page */

#user-name{
    text-transform: uppercase; 
    text-decoration: underline;
    font-weight: bold;
    color: #deceff;
}

div.card-jobs{
    padding: 8px;
    margin: 16px;
}

div.job-tags span{
    padding: 10px;
    border: 1px solid gray;
    display: inline-block;
    margin-top: 5px;
}

div.job-tags span:hover{
    background-color: #157efb;
    color: #fff;
    cursor: pointer;
    transition: all 400ms;
}

/* nav tabs */
ul.job-nav-tabs li.nav-item a.nav-link{
    border: 0;
    
}